/* material */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/material/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('/public/fonts/material/MaterialIcons-Regular.woff2') format('woff2'),
        url('/public/fonts/material/MaterialIcons-Regular.woff') format('woff'),
        url('/public/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* element-specific  */
.papers__example {
  padding: 2rem;
  justify-content: center;
}

.demo__header {
  text-align: center;
  width: 100%;
  color: #3f51b5; 
}

.details_img {
  margin-bottom: 3rem;
  border-radius: 50%;
    height: 150px;
    width: 150px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: -3px 3px 7px 1px #ccc;
}

.about_sub__header .md-list-tile {
  /*cursor: auto;*/
}

.details_divider {
  margin: 1.5rem 0 0 0;
}

.recurring_inv {
  margin: 0 1rem;
}

.searchLabel {
padding-top: 1rem;
}

.filter-drop--down {
  width: calc(73% - 16px);
  display: inline-block;
  position: relative;
}

#details_paper {
  padding: 3rem;
  padding-top: 0;
  margin-top: -54px;
  justify-content: center;
}

#details_content {
  padding: 2rem;
}

#about-info {
  margin-bottom: 3rem;
}

#about-info-h4 {
  margin-top: 3rem;
  justify-content: left;
  color: 'red'
}

.md-menu--select-field {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.md-menu--select-field:focus {
  outline: none;
  box-shadow: none;
}
.md-paper--1.md-select-field {
  box-shadow: none;
}
.md-select-field__toggle .md-text-field--floating-margin {
  margin-top: 15px;
}
.md-select-field--btn.md-select-field--btn {
  padding: 0;
}
.md-select-field--btn .md-icon-text {
    padding-left: 0;
    margin-left: 0;
    margin-top: 10px;
}
.md-select-field--btn .md-icon {
  margin-left: auto;
}

.filters {
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.searchBar {
  padding-left: 0;
  margin-left: 0;
}

.filter_status,
.filter_column {
  padding: 4px 0;
  margin: 0;
}
.filter_order {
  padding: 8px 0;
  width: 40px;
  margin-left: 0;
  margin-right: 0;
  justify-content: flex-end;
}
.filter_order .md-btn--icon {
  height: 38px;
  width: 18px;
  padding: 0;
}
.filter_order .md-btn:hover {
  background: none;
}
.customer_list .md-table-row {
  cursor: pointer;
}

.md-table-header {
  border-bottom: 2px solid #3f51b5;
}
.md-table-column--header {
  color: #3f51b5;
  font-weight: bold;
}

.customer_details .details_divider {
  margin-top: 0;
}
.customer_details {
  margin-bottom: 2rem;
}
.financial_header {
  margin-top: 2rem;
  margin-bottom: 0;
}
.financial_goals .md-table-row td:last-child .md-grid {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}